<!-- <p>devexpress-testing works!</p>
<input #input [(ngModel)]="inputValue" type="text">
<div #output></div>
{{inputValue2}}
<button (click)="output.innerHTML = input.value">update</button>
<dx-data-grid
  id="gridContainer"
  [dataSource]="dataSource"
  [remoteOperations]="false"
  [allowColumnReordering]="true"
  [rowAlternationEnabled]="true"
  [showBorders]="true"
  (onContentReady)="contentReady($event)"
>
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[10, 25, 50, 100]"
  ></dxo-pager>
  <dxo-search-panel
    [visible]="true"
    [highlightCaseSensitive]="true"
  ></dxo-search-panel>
  <dxo-group-panel [visible]="true"></dxo-group-panel>
  <dxo-grouping [autoExpandAll]="false"></dxo-grouping>

  <dxi-column dataField="Product" [groupIndex]="0"></dxi-column>
  <dxi-column
    dataField="Amount"
    caption="Sale Amount"
    dataType="number"
    format="currency"
    alignment="right"
  ></dxi-column>
  <dxi-column
    caption="Discount %"
    dataField="Discount"
    cellTemplate="discountCellTemplate"
    dataType="number"
    format="percent"
    alignment="right"
    [allowGrouping]="false"
    cssClass="bullet"
  ></dxi-column>
  <dxi-column dataField="SaleDate" dataType="date"></dxi-column>
  <dxi-column dataField="Region" dataType="string"></dxi-column>
  <dxi-column dataField="Sector" dataType="string"></dxi-column>
  <dxi-column dataField="Channel" dataType="string"></dxi-column>
  <dxi-column dataField="Customer" dataType="string" [width]="150"></dxi-column>

  <div *dxTemplate="let d of 'discountCellTemplate'">
    <div class="chart-cell">
      <dx-bullet
        [showTarget]="false"
        [showZeroLevel]="true"
        [startScaleValue]="0"
        [endScaleValue]="100"
        [value]="d.value * 100"
      >
        <dxo-size [width]="150" [height]="35"></dxo-size>
        <dxo-tooltip
          [enabled]="true"
          [paddingTopBottom]="2"
          [customizeTooltip]="customizeTooltip"
        >
          <dxo-font [size]="18"></dxo-font>
        </dxo-tooltip>
        <dxo-margin [top]="5" [bottom]="0" [left]="5"></dxo-margin>
      </dx-bullet>
    </div>
  </div>
</dx-data-grid> -->
<dx-data-grid
  [dataSource]="[{a: 6, b: 2, c: 1, d: 2, e: 3}, {a: 3, b: 6, c: 2, d: 5, e: 10}]"
  [editing]="{ mode: 'popup' }"
  (onRowPrepared)="onRowPrepared($event)"
  [repaintChangesOnly]="true"
  (onSaving)="onSaving($event)"
>
  <dxo-editing [allowUpdating]="true">
    <dxo-form
      [customizeItem]="customizeItem"
    >
      
      
      <dxi-item 
        *ngFor="let c of columns"
        itemType="group"
      >
        <dxi-item
          itemType="group"
          [caption]="c"
          [name]="c"
          [visible]="cVisible"
        >
          <dxi-item 
            [dataField]="c"
            [editorOptions]="{
              onInitialized: onInitialized
            }"
          ></dxi-item>
        </dxi-item>
      </dxi-item>

      <dxi-item
        itemType="group"
      >
        <dxi-item
          itemType="group"
          caption="d"
          name="d"
          [visible]="dVisible"
        >
          <dxi-item 
            dataField="d"
          ></dxi-item>
        </dxi-item>
      </dxi-item>

      <!-- <dxi-item itemType="group">
        <dxi-item
          itemType="group"
          caption="B"
          name="B"
          [visible]="bVisible"
        >
          <dxi-item
            dataField="b"
            [editorOptions]="{
              valueChangeEvent: 'keyup',
              onValueChanged: onValueChangedInput
            }"
          ></dxi-item>
        </dxi-item>
      </dxi-item> -->

      <!-- <dxi-item dataField="c" ></dxi-item> -->
    </dxo-form>
  </dxo-editing>
  <!-- <dxi-column
    caption="a" 
    dataField="a" 
    [editorOptions]="{ valueChangeEvent: 'keyup', format: { style: 'currency', currency: 'USD', precision: 0, type: 'fixedPoint' }}"
    [format]="{ style: 'currency', currency: 'USD', precision: 0, type: 'fixedPoint' }"
  >
  </dxi-column>
  <dxi-column caption="b" dataField="b"></dxi-column> -->
  <dxi-column
    *ngFor="let c of columns"
    [caption]="c" 
    [dataField]="c"
    [setCellValue]="setCellValue"
  >
      <dxo-lookup
        [dataSource]="lookupDataSource"
        displayExpr="title"
        valueExpr="id"
      > 
      </dxo-lookup>
  </dxi-column>
  <dxi-column dataField="d">

  </dxi-column>
</dx-data-grid>
<!-- tooltip -->
<!-- https://supportcenter.devexpress.com/ticket/details/t845698/datagrid-how-to-show-custom-tooltips-for-cells -->
<!-- https://js.devexpress.com/Demos/WidgetsGallery/Demo/Tooltip/Overview/Angular/Light/ -->

<!-- form from data possibly -->
<!-- https://js.devexpress.com/Documentation/ApiReference/UI_Components/dxForm/Configuration/#items -->
<!-- https://js.devexpress.com/Documentation/Guide/UI_Components/Form/Configure_Simple_Items/#Create_a_Simple_Item -->
<!-- <dx-form
  [(formData)]="employee"
  [items]="['firstName', 'lastName', 'position']">
</dx-form> -->