<app-top-bar></app-top-bar>
<div class="l-app">
  <div class="l-app__sideNav">123
    <!-- 注意這裡所用的雙花括號 —— 它們指示 Angular 對其中的內容進行插值。 -->
    <sidenav-autosize-example 
      [fromAppComponent]="fromAppComponent"
      accountId="account-id"
      (notify)="onDrawerToggled($event)"
    >
    </sidenav-autosize-example>
  </div>
  <div class="l-app__container">
    <section [ngStyle]="{'color': drawerOpenedInAppComponent ? 'green': 'red'}">
      drawerOpenedInAppComponent: {{ drawerOpenedInAppComponent }}
    </section>
    <router-outlet></router-outlet>
  </div>
</div>
