`<style>
	.activebutton {
    box-shadow: inset 0 1px 0 0 #dcecfb;
    background: #bddbfa linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
    border: 1px solid #84bbf3;
    color: #ffffff;
    text-shadow: 0 1px 0 #528ecc;
}
</style>
<mat-drawer-container class="example-container" autosize>
	
	<!-- 你可以透過在圓括號中指定事件名稱來宣告一個事件監聽器 -->
	
	<mat-drawer
		id="test-id"
		[class]="className"
		(opened)="emitDrawerToggled()"
		(openedStart)="drawerOpened = true"
		(closed)="drawerOpened = false; emitDrawerToggled()" 
		#drawer class="example-sidenav"
		mode="side"
	>
		<div>
			<button type="button" mat-button (click)="drawer.toggle()">
				close
			</button>
		</div>
		<div>	
			<a routerLinkActive="activebutton" [routerLink]="['/']">
				home
			</a>
		</div>
		<div>	
			<a routerLinkActive="activebutton" [routerLink]="['/customize-fields-at-runtime']">
				Customize Fields at Runtime
			</a>
		</div>
		<div>	
			<a routerLinkActive="activebutton" [routerLink]="['/project-testing']">
				project-testing
			</a>
		</div>
		<div>	
			<a routerLinkActive="activebutton" [routerLink]="['/provider-testing']">
				provider-testing
			</a>
		</div>
		<div>	
			<a routerLinkActive="activebutton" [routerLink]="['/children-routing']">
				children-routing
			</a>
		</div>

		<div>	
			<a routerLinkActive="activebutton" [routerLink]="['/another-children-routing']">
				another-children-routing
			</a>
		</div>
		<div>	
			<a routerLinkActive="activebutton" [routerLink]="['/message']">
				Message
			</a>
		</div>
		<div>	
			<a routerLinkActive="activebutton" [routerLink]="['/life-cycle']">
				Life Cycle
			</a>
		</div>
		<div>
			<a ariaCurrentWhenActive="page" routerLinkActive="activebutton" [routerLink]="['/member']">
				Member			</a>
		</div>
		<div>
			<a [routerLink]="['/product-list']">
				Product list
			</a>
		</div>
		<div>
			<a [routerLink]="['/devexpress-testing']">
				DevExpress Testing
			</a>
		</div>
		{{ fromAppComponent }}
	</mat-drawer>

	<div *ngIf="!drawerOpened" class="example-sidenav-content">
	  <button type="button" mat-button (click)="drawer.toggle();">
		 open - {{ id ? id : "undefined" }} - 123
	  </button>
	</div>
</mat-drawer-container>