<mat-drawer-container class="example-container" autosize>
	
	<!-- 你可以透過在圓括號中指定事件名稱來宣告一個事件監聽器 -->
	
	<mat-drawer 
		(opened)="emitDrawerToggled()"
		(openedStart)="drawerOpened = true"
		(closed)="drawerOpened = false; emitDrawerToggled()" 
		#drawer class="example-sidenav"
		mode="side"
	>
		<div>
			<button type="button" mat-button (click)="drawer.toggle()">
				close
			</button>
		</div>
		<div>	
			<a [routerLink]="['/']">
				home
			</a>
		</div>
		<div>
			<a [routerLink]="['/member']">
				Member
			</a>
		</div>
		{{ fromAppComponent }}
	</mat-drawer>

	<div *ngIf="!drawerOpened" class="example-sidenav-content">
	  <button type="button" mat-button (click)="drawer.toggle();">
		 open
	  </button>
	</div>
</mat-drawer-container>